
$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 9px;
$hamburger-layer-color         : #000;
$hamburger-layer-border-radius : 0px;
$hamburger-hover-opacity       : 1;

@import 'hamburgers/_sass/hamburgers/hamburgers.scss';